<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>webontwikkelaar.nl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Verzameld nieuws voor webontwikkelaars">
    <link rel="stylesheet" href="assets/style.css">
    <script defer data-domain="webontwikkelaar.nl" src="https://data.bitstorm.org/js/script.js"></script>
</head>
<body>

<header>
    <h1 translate="no">webontwikkelaar.nl</h1>
</header>

<main>
{{ content }}
</main>


</body>
</html>