<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>webontwikkelaar.nl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Verzameld nieuws voor webontwikkelaars">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>webontwikkelaar.nl [test 1]</h1>

{{ content }}

</body>
</html>