<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>webontwikkelaar.nl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Verzameld nieuws voor webontwikkelaars">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

<header>
    <h1>webontwikkelaar.nl</h1>
</header>

<main>
    <p>Aenean facilisis urna eget pellentesque posuere. Maecenas faucibus sem sit amet diam euismod, mollis bibendum quam ornare. Quisque finibus arcu quis molestie pulvinar. Duis sed aliquam nibh, ut pharetra felis. Aenean vel fermentum risus, ac tincidunt enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    <h2>mauris consectetur</h2>

    <div class="box"></div>

    <h2>aliquam suscipit</h2>

    <div class="box"></div>

</main>

<footer>
    {{ content }}
</footer>
</body>
</html>