@layer reset {
    html {
        box-sizing: border-box;
        margin: 0;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        font-family: sans-serif;
        margin: 0;
        -webkit-hyphens: auto;
        hyphens: auto;
        -webkit-font-smoothing: antialiased;
    }

    code, var, kbd, samp, tt, dir,
    abbr, acronym, code, h1, h2, h3 {
        -webkit-hyphens: none;
        hyphens: none;
    }

    h1, h2, h3, h4 {
        text-rendering: optimizeLegibility;
        text-wrap: balance;
        letter-spacing: clamp(
                -0.05em,
                calc((1em - 1rem) / -10),
                0em
        );
    }
    p {
        text-wrap: pretty;
    }
}

@layer style {
    :root {
        color-scheme: light dark;

        --dark: light-dark(oklch(0.301 0.031 284.412), oklch(0.721 0.023 285.809));
        --light: light-dark(oklch(0.994 0.001 106.423), oklch(0.006 0.001 106.423));
        --accent: light-dark(oklch(0.73 0.096 277.752), oklch(0.27 0.096 277.752));
        --hover: light-dark(oklch(0.405 0 89.876), oklch(0.595 0 89.876));
        --lighthover: light-dark(oklch(0.907 0 89.876), oklch(0.289 0 89.876));
        --active: light-dark(oklch(0.796 0.079 69.46), oklch(0.204 0.079 69.46));
        --grey: light-dark(oklch(0.91 0 89.876), oklch(0.09 0 89.876));
        --darkgrey: light-dark(oklch(0.439 0 89.876), oklch(0.561 0 89.876));
        --lightgrey: light-dark(oklch(0.964 0 89.876), oklch(0.2 0 89.876));
        --lightgrey2: light-dark(oklch(0.928 0 89.876), oklch(0.072 0 89.876));
        --city: light-dark(oklch(0.579 0.131 21.998), oklch(0.3 0.131 21.998));
        --cityradius: light-dark(oklch(0.579 0.131 21.998 / 0.6), oklch(0.3 0.131 21.998 / 0.6));
        --title: light-dark(oklch(0.301 0.031 284.412), oklch(0.898 0 89.876));
    }

    @media (prefers-contrast: more) {
        :root {
            --dark: light-dark(black, white);
            --light: light-dark(white, black);
        }
    }
    
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--dark);
        background-color: var(--light);
        font-size: 1.2rem;
    }

    h2 {
        width: fit-content;
        margin: 1rem;
        padding-left: 1rem;
        font-size: clamp(2rem, 3vw, 3rem);
        font-weight: 600;
    }

    p {
        margin: 3rem 0;
    }

    main {
        flex: 1;
        padding: 1rem;
    }

    footer {
        display: flex;
        height: 6rem;
        background-color: var(--accent);
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    a:active {
        color: inherit;
        background-color: var(--active);
    }

    .subpage p, .subpage h3 {
        margin-left: 2rem;
    }

    footer a {
        color: var(--dark);
        text-decoration: none;

        &:visited {
            color: var(--dark);
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .header-background {
        position: absolute;
        width: clamp(20vw, 185%, 100vw - 15px);
        height: min(320px, 36vw);
        overflow: hidden;
        z-index: 10;
    }

    header {
        position: relative;
        display: grid;
        padding: min(5rem, 10vw) 4rem min(4rem, 10vw - 4rem);
        z-index: 20;
    }

    main, header {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    header:not(:has(a)) {
        pointer-events: none;
    }

    header a {
        color: var(--dark);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .circle {
        pointer-events: all;
        opacity: 0.6;
        transition: all 2000ms ease;
        transform-box: fill-box;
        transform-origin: center;
    }

    .circle:hover {
        transition: all 250ms ease;
        transform: scale(1.02);
        opacity: 0.9;
    }

    .lang-switch {
        display: flex;
        gap: 0.6rem;
        position: absolute;
        right: 2rem;
        top: 0;
        padding: 4px;
        list-style: none;
        border: 1px solid var(--dark);
        border-radius: 8px;
        corner-shape: squircle;
        z-index: 30;
    }

    .lang {
        padding: 2px 4px;
        border-radius: 4px;
        corner-shape: squircle;
        transition: all 200ms ease;

        &:hover {
            background-color: var(--grey);
        }
    }

    .lang-switch a {
        color: var(--dark);
        text-decoration: none;
    }

    .lang-en .en, .lang-nl .nl {
        color: var(--light);
        background-color: var(--dark);
    }

    .title {
        padding: 0 2rem;
        margin: 0 0 -0.5rem;
        font-size: min(9vw, 80px);
        font-weight: 900;
        color: var(--title);
    }

    .grey {
        color: var(--darkgrey);
        font-weight: 400;
    }

    a:hover .grey {
        color: var(--grey);
    }

    .update {
        margin: 0;
        padding-left: 2rem;
        font-size: 1.4rem;
    }

    .container {
        margin: 0 0 4rem;
        border-radius: 10px;
        corner-shape: squircle;
    }

    .conferences {
        display: flex;
        align-items: stretch;
        gap: 0.5rem;
        overflow: hidden;
    }

    @media (width < 768px) {
        .conferences {
            border-radius: 0;
            overflow: initial;
        }
    }

    .map {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        align-items: stretch;
        height: 500px;
    }

    .map-img {
        object-fit: contain;
        color: #075578
    }

    @media (width < 1160px) or (pointer: coarse) {
        .map {
            display: none;
        }
    }

    .city {
        position: absolute;
        left: calc(-235.36px + 104.98px * var(--lon) - 5px);
        top: calc(8951.90px - 166.80px * var(--lat) - 5px);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--city);
        outline: var(--cityradius) solid;
        outline-offset: -4px;
        outline-width: 4px;
        transition: outline-offset 250ms ease;
        z-index: 10;

        &:hover {
            outline-offset: 10px;
        }
    }

    .conf-title {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
    }

    .conf-table {
        flex: 1 1 0;
        width: 0;
        min-width: 0;
        border-collapse: separate;
        border-spacing: 0.5rem 0.5rem;
        margin: -0.5rem;
    }

    .conf-link {
        color: inherit;
        text-decoration: none;
    }

    .conf-row {
        position: relative;

        & td {
            white-space: nowrap;
            padding: 0.5rem 1rem;
            background: var(--lightgrey);
        }

        & td:not(:first-child) {
            width: 30%;
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & td:nth-child(3) {
            width: 70%;
        }

        &:hover > td, &:focus-within td {
            color: var(--light);
            background: var(--hover);
            cursor: pointer;
        }
    }

    .conf-meta {
        display: none;
    }

    @media (width < 768px) or (pointer: coarse) {
        .conf-row {
            & td {
                padding: 0.5rem;
            }
            & td:not(:nth-child(3)) {
                display: none;
            }
        }

        .conf-meta {
            display: block;
        }
    }

    .box {
        padding: 2rem;
        background-color: var(--lightgrey);
    }

    @media (width < 768px) {
        .box {
            padding: 1rem 0;
            border-radius: 0;
        }
    }

    .item-box {
        column-width: 500px;
        column-gap: 2rem;
        padding-bottom: 0.5rem;


        & > * {
            break-inside: avoid;
        }
    }

    .bottom-ui {
        text-align: right;
    }

    .bottom-ui-label {
        padding: 3px 6px;
        border-radius: 8px;
        corner-shape: squircle;

        &:hover, &:has(:focus) {
            background-color: var(--grey);
        }
    }

    #more-blogs {
        appearance: none;
        position: absolute;
        pointer-events: none;
    }

    #more-blogs-icon {
        position: relative;
        top: 0.4rem;
        rotate: 180deg;
    }

    #more-blogs-text {
        display: none;
    }

    .blog-container .item-box {
        margin-bottom: 0;
    }

    .blog-container:not(:has(#more-blogs:checked)) {
        & .item:nth-child(n + 13) {
            display: none;
        }

        & #more-blogs-icon {
            rotate: 0deg;
        }
        & #less-blogs-text {
            display: none;
        }
        & #more-blogs-text {
            display: initial;
        }
    }

    .item {
        list-style: none;
    }

    .item-link {
        display: block;
        height: 70px;
        border-left: 8px solid var(--accent);
        padding: 10px 10px 10px 14px;
        margin-bottom: 20px;
    }

    @media (width < 768px) {
        .item-link {
            height: 90px;
            font-size: 1.3rem;
        }
    }

    .link {
        text-decoration: none;
        color: inherit;

        &:visited {
            color: var(--darkgrey);
        }

        &:hover, &:focus {
            color: var(--light);
            background-color: var(--hover);
            border-radius: 10px;
            corner-shape: squircle;
        }


    }

    .item-title {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.2rem;
        font-weight: initial;
        text-overflow: ellipsis;
    }

    @media (width < 768px) {
        .item-title {
            text-overflow: initial;
            white-space: initial;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }

    .item-feed-title {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .link:hover .item-feed-date {
        color: var(--light);
    }

    .bottom-ui {
        margin: 0;
    }

    .video-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 0.8rem 0.5rem;
        align-items: stretch;
    }

    .video {
        list-style: none;
    }

    .video-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0.5rem;
        text-decoration: none;
        color: inherit;
    }

    .video-thumbnail {
        display: block;
        width: 100%;
        aspect-ratio: 4 / 3;
        filter: saturate(30%) contrast(70%);
        margin-bottom: 4px;
        border-radius: 10px;
        corner-shape: squircle;
        transition: all 400ms ease;
    }

    .video-link:hover .video-thumbnail {
        filter: saturate(100%)  contrast(100%);
    }

    .video-title {
        margin: 4px 0 0 0;
        font-size: 1.2rem;
        font-weight: 450;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .podcast-item {
        display: flex;
        gap: 0.8rem;
        height: 150px;
        padding: 10px;
        border-radius: 10px;
        corner-shape: squircle;
    }

    .podcast-thumbnail {
        display: block;
        width: 140px;
        height: 140px;
        filter: saturate(30%) contrast(70%);
        margin-bottom: 4px;
        border-radius: 10px;
        corner-shape: squircle;
        transition: all 400ms ease;
    }

    @media (width < 410px) {
        .podcast-thumbnail {
            width: 100px;
            height: 100px;
        }
    }

    .podcast-item:hover {
        background-color: var(--lighthover);
    }

    .podcast-item:hover .podcast-thumbnail {
        filter: saturate(100%)  contrast(100%);
    }

    .podcast-box {
        padding-bottom: 1rem;
    }

    .podcast-list {
        column-width: 500px;
        column-gap: 2rem;
        padding: 0;
        margin: 0;

        & > * {
            break-inside: avoid;
        }
    }

    .podcast {
        list-style: none;
        margin-bottom: 0.45rem;
    }

    .podcast-creator {
        display: flex;
    }

    .podcast-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .podcast-title {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 450;
        text-wrap: auto;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .podcast-date {
        margin: 0 0.25rem;
    }

    .podcast-duration {
        margin: 0 0.25rem;
    }

    .podcast-logo {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    .podcast-icons {
        display: flex;
        gap: 0.5rem;
        margin-left: auto;
        padding-right: 2px;
    }

    .podcast-icons img {
        filter: invert(1);
    }

    .podcast-apple-logo {
        width: 1rem;
        height: 1.23rem;
    }

    .podcast-link-logo {
        position: relative;
        top: 2px;
        width: 1.2rem;
        height: 1.2rem;
    }

    .podcast-controls {
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }

    .podcast-audio {
        flex: 1;
    }

    audio::-webkit-media-controls-panel {
        background: var(--lightgrey2);
    }

    .podcast-attribution {
        display: block;
        margin-top: 0.2rem;
        color: inherit;
        font-size: 0.8rem;
        text-decoration: none;
        text-align: right;
    }
}