@layer reset {
    html {
        box-sizing: border-box;
        margin: 0;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        font-family: sans-serif;
        margin: 0;
        -webkit-hyphens: auto;
        hyphens: auto;
        -webkit-font-smoothing: antialiased;
    }

    code, var, kbd, samp, tt, dir,
    abbr, acronym, code, h1, h2, h3 {
        -webkit-hyphens: none;
        hyphens: none;
    }

    h1, h2, h3, h4 {
        text-rendering: optimizeLegibility;
        text-wrap: balance;
        letter-spacing: clamp(
                -0.05em,
                calc((1em - 1rem) / -10),
                0em
        );
    }
    p {
        text-wrap: pretty;
    }
}

@layer fonts {
    @font-face {
        font-family: BigshotOne;
        src: url("/assets/fonts/Bigshot_One/BigshotOne-Regular.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Moderustic;
        src: url("/assets/fonts/Moderustic/Moderustic-VariableFont_wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
}

@layer style {
    body {
        font-family: Moderustic, sans-serif;
        font-size: 1.5rem;
    }

    h1, h2 {
        font-family: BigshotOne, sans-serif;
    }

    header {
        display: grid;
        place-items: center;
        margin: 40px 0 0 40px;
        padding-right: min(8vw, 80px);
        width: min(80vw, 800px);
        height: min(10vw, 100px);

        & > h1 {
            margin: 0;
            font-size: min(8vw, 80px);
        }
    }

    p {
        margin: 3rem 0;
    }

    h2 {
        width: fit-content;
        margin: 2rem 0;
        padding: 8px 50px 8px;
        font-size: clamp(2rem, 3vw, 3rem);
    }

    main {
        padding: 2rem;
    }

    @media (max-width: 768px) {
        main {
            padding: 1rem 0;
        }
    }

    .box {
        padding: 2rem;
        background-color: #f3f3f3;
    }

    @media (max-width: 768px) {
        .box {
            padding: 1rem 0;
        }
    }

    .item-box {
        column-width: 500px;
        column-gap: 2rem;
        padding-bottom: 0.5rem;


        & > * {
            break-inside: avoid;
        }
    }

    .item {
        list-style: none;
    }

    .item-link {
        display: block;
        height: 70px;
        border-left: 8px solid #8f8f8f;
        padding: 10px 10px 10px 14px;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .item-link {
            height: 90px;
            font-size: 1.3rem;
        }
    }

    .link {
        text-decoration: none;
        color: inherit;

        &:visited {
            color: #87a9ac;
        }

        &:hover, &:focus {
            color: white;
            background-color: #494949;
        }

        &:active {
            color: inherit;
            background-color: yellow;
        }
    }

    .item-title {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.5rem;
        font-weight: initial;
        text-overflow: ellipsis;
    }

    @media (max-width: 768px) {
        .item-title {
            text-overflow: initial;
            white-space: initial;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }

    .item-feed-title {
        margin: 0;
        font-size: 1rem;
        font-weight: 650;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item-feed-date {
        color: #87a9ac;
    }

    .link:hover .item-feed-date {
        color: white;
    }

    .video-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 0.8rem 0.5rem;
        align-items: stretch;
    }

    .video {
        list-style: none;
    }

    .video-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 6px;
        text-decoration: none;
        color: inherit;
    }

    .video-thumbnail {
        display: block;
        width: 100%;
        aspect-ratio: 4 / 3;
        filter: saturate(30%) contrast(70%);
        margin-bottom: 4px;
    }

    .video-link:hover .video-thumbnail {
        filter: saturate(100%)  contrast(100%);
    }

    .video-title {
        margin: 4px 0 0 0;
        font-size: 1.2rem;
        font-weight: 450;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .small {
        font-size: 1.2rem;
    }

    .podcast-item {
        display: flex;
        gap: 0.8rem;
        height: 150px;
        padding: 6px;
    }

    .podcast-thumbnail {
        display: block;
        width: 140px;
        height: 140px;
        filter: saturate(30%) contrast(70%);
        margin-bottom: 4px;
    }

    .podcast-item:hover .podcast-thumbnail {
        filter: saturate(100%)  contrast(100%);
    }

    .podcast-box {
        column-width: 500px;
        column-gap: 2rem;
        padding: 0;
        margin: 0;

        & > * {
            break-inside: avoid;
        }
    }

    .podcast {
        list-style: none;
    }

    .podcast-creator {
        display: flex;
    }

    .podcast-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .podcast-title {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 450;
        text-wrap: auto;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .podcast-date {
        margin-left: 0.25rem;
    }

    .podcast-logo {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    .podcast-icons {
        display: flex;
        gap: 0.5rem;
        margin-left: auto;
        padding-right: 2px;
    }

    .podcast-apple-logo {
        width: 1rem;
        height: 1.23rem;
    }

    .podcast-link-logo {
        width: 1.2rem;
        height: 1.2rem;
    }

    .podcast-controls {
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }

    .podcast-audio {
        flex: 1;
    }

    audio::-webkit-media-controls-panel {
        background: #e7e7e7;
    }

    .podcast-attribution {
        display: block;
        margin-top: 1rem;
        color: inherit;
        font-size: 1rem;
        text-decoration: none;
        text-align: right;
    }

    .conferences {
        display: flex;
        align-items: stretch;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .map {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        align-items: stretch;
        height: 500px;

        & img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    @media (max-width: 1175px) {
        .map {
            display: none;
        }
    }

    .city {
        position: absolute;
        left: calc(-235.36px + 104.98px * var(--lon) - 5px);
        top: calc(8951.90px - 166.80px * var(--lat) - 5px);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red;
        outline: rgba(100% 0 0 / 0.6) solid;
        outline-offset: -1px;
        outline-width: 2px;
        transition: outline-offset 250ms ease;

        &:hover {
            outline-offset: 10px;
        }
    }

    .conf-table {
        flex: 1 1 0;
        width: 0;
        min-width: 0;
        border-collapse: separate;
        border-spacing: 0.5rem 0.5rem;
        margin: -0.5rem;
    }

    .conf-link {
        color: inherit;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }

    .conf-row {
        position: relative;

        & td {
            white-space: nowrap;
            padding: 0 1rem;
            background: #f3f3f3;
        }

        & td:not(:first-child) {
            width: 30%;
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & td:nth-child(3) {
            width: 70%;
        }

        &:hover > td, &:focus-within td {
            color: white;
            background: #494949;
            cursor: pointer;
        }
    }
}