@layer reset {
    html {
        box-sizing: border-box;
        margin: 0;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        font-family: sans-serif;
        margin: 0;
        -webkit-hyphens: auto;
        hyphens: auto;
        -webkit-font-smoothing: antialiased;
    }

    code, var, kbd, samp, tt, dir,
    abbr, acronym, code, h1, h2, h3 {
        -webkit-hyphens: none;
        hyphens: none;
    }

    h1, h2, h3, h4 {
        text-rendering: optimizeLegibility;
        text-wrap: balance;
        letter-spacing: clamp(
                -0.05em,
                calc((1em - 1rem) / -10),
                0em
        );
    }
    p {
        text-wrap: pretty;
    }
}

@layer fonts {
    @font-face {
        font-family: BigshotOne;
        src: url("/assets/fonts/Bigshot_One/BigshotOne-Regular.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Moderustic;
        src: url("/assets/fonts/Moderustic/Moderustic-VariableFont_wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
}

@layer style {
    body {
        color: #252541;
        background-color: mintcream;
        font-family: Moderustic, sans-serif;
        font-size: 1.5rem;
    }

    h1, h2 {
        font-family: BigshotOne, sans-serif;
    }

    header {
        display: grid;
        place-items: center;
        margin: 40px 0 0 40px;
        padding-right: min(8vw, 80px);
        width: min(80vw, 800px);
        height: min(10vw, 100px);

        & > h1 {
            margin: 0;
            font-size: min(8vw, 80px);
        }
    }

    p {
        margin: 3rem 0;
    }

    h2 {
        width: fit-content;
        margin: 2rem 0;
        padding: 8px 50px 8px;
        font-size: clamp(2rem, 3vw, 3rem);
    }

    main {
        padding: 2rem;
    }

    @media (max-width: 768px) {
        main {
            padding: 1rem 0;
        }
    }

    .box {
        min-height: 200px;
        padding: 2rem 2rem 0.5rem;
        background-color: #f3f3f3;
    }

    @media (max-width: 768px) {
        .box {
            padding: 1rem 0;
        }
    }

    .item-box {
        column-width: 500px;
        column-gap: 2rem;
    }

    .item {
        list-style: none;
    }

    .item-link {
        display: block;
        height: 70px;
        border-left: 8px solid #8f8f8f;
        padding: 10px 10px 10px 14px;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .item-link {
            height: 90px;
            font-size: 1.3rem;
        }
    }

    .link {
        text-decoration: none;
        color: inherit;
    }

    .link:visited {
        color: #87a9ac;
    }

    .link:hover {
        color: white;
        background-color: #494949;
    }

    .link:active {
        color: inherit;
        background-color: yellow;
    }

    .item-title {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: 768px) {
        .item-title {
            text-overflow: initial;
            white-space: initial;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }

    .item-feed-title {
        margin: 0;
        font-size: 1rem;
        font-weight: 650;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item-feed-date {
        color: #87a9ac;
    }

    .link:hover .item-feed-date {
        color: white;
    }

    .video-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 0.8rem 0.5rem;
    }

    .video {
        list-style: none;
    }

    .video-link {
        display: block;
        padding: 6px;
        text-decoration: none;
        color: inherit;
    }

    .video-thumbnail {
        display: block;
        width: 100%;
        aspect-ratio: 4 / 3;
        filter: saturate(30%) contrast(70%);
        margin-bottom: 4px;
    }

    .video-link:hover .video-thumbnail {
        filter: saturate(100%)  contrast(100%);
    }

    .video-title {
        margin: 4px 0 0 0;
        font-size: 1.2rem;
        font-weight: 450;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}